
<%@ page import="com.innovated.iris.domain.enums.RegistrationUsageType" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <title><g:message code="registrationUsageType.show" default="Show RegistrationUsageType" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLinkTo(dir: '')}"><g:message code="home" default="Home" /></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="registrationUsageType.list" default="RegistrationUsageType List" /></g:link></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="registrationUsageType.new" default="New RegistrationUsageType" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="registrationUsageType.show" default="Show RegistrationUsageType" /></h1>
            <g:if test="${flash.message}">
            <div class="message"><g:message code="${flash.message}" args="${flash.args}" default="${flash.defaultMessage}" /></div>
            </g:if>
            <g:form>
                <g:hiddenField name="id" value="${registrationUsageTypeInstance?.id}" />
                <div class="dialog">
                    <table>
                        <tbody>
                        
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="registrationUsageType.id" default="Id" />:</td>
                                
                                <td valign="top" class="value">${fieldValue(bean: registrationUsageTypeInstance, field: "id")}</td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="registrationUsageType.name" default="Name" />:</td>
                                
                                <td valign="top" class="value">${fieldValue(bean: registrationUsageTypeInstance, field: "name")}</td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="registrationUsageType.typeCode" default="Type Code" />:</td>
                                
                                <td valign="top" class="value">${fieldValue(bean: registrationUsageTypeInstance, field: "typeCode")}</td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="registrationUsageType.visible" default="Visible" />:</td>
                                
                                <td valign="top" class="value"><g:formatBoolean boolean="${registrationUsageTypeInstance?.visible}" /></td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="registrationUsageType.enabled" default="Enabled" />:</td>
                                
                                <td valign="top" class="value"><g:formatBoolean boolean="${registrationUsageTypeInstance?.enabled}" /></td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="registrationUsageType.dateCreated" default="Date Created" />:</td>
                                
                                <td valign="top" class="value"><g:formatDate date="${registrationUsageTypeInstance?.dateCreated}" /></td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="registrationUsageType.lastUpdated" default="Last Updated" />:</td>
                                
                                <td valign="top" class="value"><g:formatDate date="${registrationUsageTypeInstance?.lastUpdated}" /></td>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <span class="button"><g:actionSubmit class="edit" action="edit" value="${message(code: 'edit', 'default': 'Edit')}" /></span>
                    <span class="button"><g:actionSubmit class="delete" action="delete" value="${message(code: 'delete', 'default': 'Delete')}" onclick="return confirm('${message(code: 'delete.confirm', 'default': 'Are you sure?')}');" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>
