

<%@ page import="com.innovated.iris.domain.Entity" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="prod">
        <title><g:message code="entity.edit" default="Edit Entity" /></title>
    </head>
	<body>
		<div class="twocol">
			<div id="content">
				<div id="leftcol">
					<div id="contentMain">
						<p class="bread">
							<a class="home" href="${createLinkTo(dir: '')}"><g:message code="home" default="Home" /></a>
							<span class="breadArrow">&nbsp;</span>
							<g:link action="list"><g:message code="entity.list" default="Entity List" /></g:link>
							<span class="breadArrow">&nbsp;</span>
							<g:link action="show" id="${entityInstance?.id}"><g:message code="entity.show" default="Show Entity" /></g:link>
							<span class="breadArrow">&nbsp;</span>
							<g:message code="entity.edit" default="Edit Entity" />
						</p>
						
						<g:if test="${flash.message}">
						<div class="flashMsg">
							<p><g:message code="${flash.message}" args="${flash.args}" default="${flash.defaultMessage}" /></p>
						</div>
						</g:if>
			            <g:hasErrors bean="${entityInstance}">
						<div class="errors">
							<ul>
								<g:eachError bean="${entityInstance}"><li><g:message error="${it}"/></li>
								</g:eachError>
							</ul>
						</div>
		            	</g:hasErrors>
						
						<h1 class="contentH1"><g:message code="entity.edit" default="Edit Entity" /></h1>
						<div class="formBg">
							<div class="formWrap">
								<g:form action="save" method="post" >
								<input type="hidden" name="id" value="${entityInstance?.id}" />
                				<input type="hidden" name="version" value="${entityInstance?.version}" />
                				
								<h3 class="topPad"><g:message code="entity.edit" default="Edit Entity" /></h3>
								<p>Please enter the details of this object.</p>
								<div class="formSet">
						
									<div class="clearfix ${hasErrors(bean: entityInstance, field: 'name', 'errors')}">
										<label for="name"><g:message code="entity.name" default="Name" /></label>
		                                <g:textField name="name" value="${fieldValue(bean: entityInstance, field: 'name')}" />

		                            </div>
						
									<div class="clearfix ${hasErrors(bean: entityInstance, field: 'type', 'errors')}">
										<label for="type"><g:message code="entity.type" default="Type" /></label>
		                                <g:select class="short" name="type" from="${['Individual', 'Company']}" value="${fieldValue(bean: entityInstance, field: 'type')}"/>
		                            </div>
						
								</div>
								
								<button id="btnEdit" name="_action_update" class="greybutton" type="submit">
						       		<span><img width="16" height="16" alt="" src="${resource(dir:'images/skin',file:'database_save.png')}"/><g:message code="update" default="Update" /></span>
						    	</button>
						    	<button id="btnEdit" name="_action_delete" class="greybutton" type="submit" onclick="return confirm('${message(code: 'delete.confirm', 'default': 'Are you sure?')}');">
						       		<span><img width="16" height="16" alt="" src="${resource(dir:'images/skin',file:'database_delete.png')}"/><g:message code="delete" default="Delete" /></span>
						    	</button>
						    	<span class="formcancel"> or&nbsp;&nbsp;<g:link action="show" id="${entityInstance?.id}"><g:message code="cancel" default="cancel" /></g:link></span>
						    	
								</g:form>
							</div>
						</div>
						
					</div> <!-- #contentMain -->
					
				</div>
				<div id="rightcol">
					<div id="options">
						<div class="optGrpHdr"><h3 class="optHdr"><g:message code="default.rcol.current.opts" default="Current Options" /></h3></div>
						<dl class="optGrpMenu">
							<iris:sidebarItem controller="entity" action="list" icon="page_white_stack.png" titleCode="entity.rcol.title.list" msgCode="entity.rcol.msg.list" />
							<iris:sidebarItem controller="entity" action="create" icon="page_white_add.png" titleCode="entity.rcol.title.create" msgCode="entity.rcol.msg.create" />
						</dl>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</body>
</html>


