
<%@ page import="com.innovated.iris.domain.lookup.GstRateParameter" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <title><g:message code="gstRateParameter.show" default="Show GstRateParameter" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLinkTo(dir: '')}"><g:message code="home" default="Home" /></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="gstRateParameter.list" default="GstRateParameter List" /></g:link></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="gstRateParameter.new" default="New GstRateParameter" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="gstRateParameter.show" default="Show GstRateParameter" /></h1>
            <g:if test="${flash.message}">
            <div class="message"><g:message code="${flash.message}" args="${flash.args}" default="${flash.defaultMessage}" /></div>
            </g:if>
            <g:form>
                <g:hiddenField name="id" value="${gstRateParameterInstance?.id}" />
                <div class="dialog">
                    <table>
                        <tbody>
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="gstRateParameter.id" default="ID" />:</td>
                                <td valign="top" class="value">${fieldValue(bean: gstRateParameterInstance, field: "id")}</td>
                            </tr>
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="gstRateParameter.dateFrom" default="Date From" />:</td>
                                <td valign="top" class="value"><g:formatDate format="d MMM yyyy" date="${gstRateParameterInstance?.dateFrom}" /></td>
                            </tr>
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="gstRateParameter.rate" default="Rate" />:</td>
                                <td valign="top" class="value">${formatNumber(number:gstRateParameterInstance.rate, type:'percent', minFractionDigits:2, maxFractionDigits:8)}</td>
                            </tr>
                            <!-- 
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="gstRateParameter.lastUpdated" default="Last Updated" />:</td>
                                <td valign="top" class="value"><g:formatDate date="${gstRateParameterInstance?.lastUpdated}" /></td>
                            </tr>
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="gstRateParameter.dateCreated" default="Date Created" />:</td>
                                <td valign="top" class="value"><g:formatDate date="${gstRateParameterInstance?.dateCreated}" /></td>
                            </tr>
                             -->
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <span class="button"><g:actionSubmit class="edit" action="edit" value="${message(code: 'edit', 'default': 'Edit')}" /></span>
                    <span class="button"><g:actionSubmit class="delete" action="delete" value="${message(code: 'delete', 'default': 'Delete')}" onclick="return confirm('${message(code: 'delete.confirm', 'default': 'Are you sure?')}');" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>
