
<%@ page import="com.innovated.iris.domain.Email" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <title><g:message code="email.edit" default="Edit Email" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLinkTo(dir: '')}"><g:message code="home" default="Home" /></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="email.list" default="Email List" /></g:link></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="email.new" default="New Email" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="email.edit" default="Edit Email" /></h1>
            <g:if test="${flash.message}">
            	<div class="message"><g:message code="${flash.message}" args="${flash.args}" default="${flash.defaultMessage}" /></div>
            </g:if>
            <g:hasErrors bean="${emailInstance}">
				<div class="errors">
					<g:renderErrors bean="${emailInstance}" as="list" />
				</div>
            </g:hasErrors>
            <g:form method="post" >
                <g:hiddenField name="id" value="${emailInstance?.id}" />
                <g:hiddenField name="version" value="${emailInstance?.version}" />
                <div class="dialog">
                    <fieldset>
                        <legend><g:message code="email.edit.legend" default="Update Email Details"/></legend>
                        
                        <div class="prop mandatory ${hasErrors(bean: emailInstance, field: 'defaultType', 'error')}">
                            <label for="defaultType">
                                <g:message code="email.defaultType" default="Default Type" />
                                <span class="indicator">*</span>
                            </label>
                            <g:select id="defaultType" name="defaultType" from="${emailInstance.constraints.defaultType.inList}" value="${emailInstance.defaultType}" ></g:select>
                        </div>
                        
                        <div class="prop mandatory ${hasErrors(bean: emailInstance, field: 'address', 'error')}">
                            <label for="address">
                                <g:message code="email.address" default="Address" />
                                <span class="indicator">*</span>
                            </label>
                            <input type="text" id="address" name="address" value="${fieldValue(bean:emailInstance,field:'address')}"/>
                        </div>
                        
                        <div class="prop mandatory ${hasErrors(bean: emailInstance, field: 'allowsHtml', 'error')}">
                            <label for="allowsHtml">
                                <g:message code="email.allowsHtml" default="Allows Html" />
                                <span class="indicator">*</span>
                            </label>
                            <g:checkBox name="allowsHtml" value="${emailInstance?.allowsHtml}" ></g:checkBox>
                        </div>
                        
                        <div class="prop mandatory ${hasErrors(bean: emailInstance, field: 'dateCreated', 'error')}">
                            <label for="dateCreated">
                                <g:message code="email.dateCreated" default="Date Created" />
                                <span class="indicator">*</span>
                            </label>
                            <g:datePicker name="dateCreated" value="${emailInstance?.dateCreated}" precision="minute" ></g:datePicker>
                        </div>
                        
                        <div class="prop mandatory ${hasErrors(bean: emailInstance, field: 'lastUpdated', 'error')}">
                            <label for="lastUpdated">
                                <g:message code="email.lastUpdated" default="Last Updated" />
                                <span class="indicator">*</span>
                            </label>
                            <g:datePicker name="lastUpdated" value="${emailInstance?.lastUpdated}" precision="minute" ></g:datePicker>
                        </div>
                        
                        <div class="prop mandatory ${hasErrors(bean: emailInstance, field: 'entity', 'error')}">
                            <label for="entity">
                                <g:message code="email.entity" default="Entity" />
                                <span class="indicator">*</span>
                            </label>
                            <g:select optionKey="id" from="${com.innovated.iris.domain.Entity.list()}" name="entity.id" value="${emailInstance?.entity?.id}" ></g:select>
                        </div>
                        
                    </fieldset>
                </div>
                <div class="buttons">
                    <span class="button"><g:actionSubmit class="save" action="update" value="${message(code: 'update', 'default': 'Update')}" /></span>
                    <span class="button"><g:actionSubmit class="delete" action="delete" value="${message(code: 'delete', 'default': 'Delete')}" onclick="return confirm('${message(code: 'delete.confirm', 'default': 'Are you sure?')}');" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>

