
<%@ page import="com.innovated.iris.domain.enums.VehicleManufacturer" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <title><g:message code="vehicleManufacturer.show" default="Show VehicleManufacturer" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLinkTo(dir: '')}"><g:message code="home" default="Home" /></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="vehicleManufacturer.list" default="VehicleManufacturer List" /></g:link></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="vehicleManufacturer.new" default="New VehicleManufacturer" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="vehicleManufacturer.show" default="Show VehicleManufacturer" /></h1>
            <g:if test="${flash.message}">
            <div class="message"><g:message code="${flash.message}" args="${flash.args}" default="${flash.defaultMessage}" /></div>
            </g:if>
            <g:form>
                <g:hiddenField name="id" value="${vehicleManufacturerInstance?.id}" />
                <div class="dialog">
                    <table>
                        <tbody>
                        
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="vehicleManufacturer.id" default="Id" />:</td>
                                
                                <td valign="top" class="value">${fieldValue(bean: vehicleManufacturerInstance, field: "id")}</td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="vehicleManufacturer.name" default="Name" />:</td>
                                
                                <td valign="top" class="value">${fieldValue(bean: vehicleManufacturerInstance, field: "name")}</td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="vehicleManufacturer.models" default="Models" />:</td>
                                
                                <td  valign="top" style="text-align: left;" class="value">
                                    <ul>
                                    <g:each in="${vehicleManufacturerInstance?.models}" var="vehicleModelInstance">
                                        <li><g:link controller="vehicleModel" action="show" id="${vehicleModelInstance.id}">${vehicleModelInstance.encodeAsHTML()}</g:link></li>
                                    </g:each>
                                    </ul>
                                </td>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <span class="button"><g:actionSubmit class="edit" action="edit" value="${message(code: 'edit', 'default': 'Edit')}" /></span>
                    <span class="button"><g:actionSubmit class="delete" action="delete" value="${message(code: 'delete', 'default': 'Delete')}" onclick="return confirm('${message(code: 'delete.confirm', 'default': 'Are you sure?')}');" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>
