
<%@ page import="com.innovated.iris.domain.Individual" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="layout" content="main" />
        <title>Individual List</title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${resource(dir:'')}">Home</a></span>
            <span class="menuButton"><g:link class="create" action="create">New Individual</g:link></span>
        </div>
        <div class="body">
            <h1>Individual List</h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <div class="list">
                <table>
                    <thead>
                        <tr>
                        
                   	        <g:sortableColumn property="id" title="Id" />
                        
                   	        <g:sortableColumn property="name" title="Name" />
                        
                   	        <th>Addresses</th>
                   	    
                   	        <th>Phones</th>
                   	    
                   	        <th>Emails</th>
                   	    
                   	        <g:sortableColumn property="firstName" title="First Name" />
                        
                        </tr>
                    </thead>
                    <tbody>
                    <g:each in="${individualInstanceList}" status="i" var="individualInstance">
                        <tr class="${(i % 2) == 0 ? 'odd' : 'even'}">
                        
                            <td><g:link action="show" id="${individualInstance.id}">${fieldValue(bean:individualInstance, field:'id')}</g:link></td>
                        
                            <td>${fieldValue(bean:individualInstance, field:'name')}</td>
                        
                            <td>${fieldValue(bean:individualInstance, field:'addresses')}</td>
                        
                            <td>${fieldValue(bean:individualInstance, field:'phones')}</td>
                        
                            <td>${fieldValue(bean:individualInstance, field:'emails')}</td>
                        
                            <td>${fieldValue(bean:individualInstance, field:'firstName')}</td>
                        
                        </tr>
                    </g:each>
                    </tbody>
                </table>
            </div>
            <div class="paginateButtons">
                <g:paginate total="${individualInstanceTotal}" />
            </div>
        </div>
    </body>
</html>
