<html>
    <head>
        <meta name="layout" content="prod">
        <title><g:message code="user.home.welcome" default="Welcome" /></title>
    </head>
	<body>
		
		<div class="twocol">
			<div id="content">
				<div id="leftcol" style="background-color: cyan;">
					<div id="breadcrumbBar">
						<select>
							<option value="1">option1</option>
							<option value="2">option2</option>
							<option value="3">option3</option>
							<option value="4">option4</option>
						</select>
						<input type="text" value="my dummy value">
						<select>
							<option value="1">option1</option>
							<option value="2">option2</option>
							<option value="3">option3</option>
							<option value="4">option4</option>
						</select>
					</div>
					
					<div id="mydivtest" style="background-color: cyan;">
						<p>content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!v</p>
						<p>content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!v</p>
						<p>content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!v</p>
						<p>content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!content here!!v</p>
					</div>
					
					<h1 style="padding:0; margin:0;">Content area</h1>
					<p>content here!!</p>
					<p>content here!!</p>
					<p>content here!!</p>
					<p>content here!!</p>
					<p>content here!!</p>
					<p>content here!!</p>
					<p>content here!!</p>
					<p>content here!!</p>
					<p style="padding:0; margin:0;">content here!!</p>
				</div>
				
				<div id="rightcol">
					<select>
							<option value="1">option1</option>
							<option value="2">option2</option>
							<option value="3">option3</option>
							<option value="4">option4</option>
						</select>
					<h1 style="padding:0; margin:0;">Content area</h1>
					<p>content here!!</p>
					<p>content here!!</p>
					<p>content here!!</p>
					<p>content here!!</p>
					<p>content here!!</p>
					<p>content here!!</p>
					<p>content here!!</p>
					<p>content here!!</p>
					<p style="padding:0; margin:0;">content here!!</p>
				</div>
				
				<div class="clear"></div>
				
			</div>
		</div>
		
	</body>
</html>

