/*
 * Consistent cross-browser font size.
 * Based on http://www.codecouch.com/2007/04/how-to-get-consistent-font-sizes-across-all-browsers/
 */
html>body {
    font-size: 11px;
    #font-size : 68 %;
}
 
body {
    #font-size : 68 %;
}
 
/* FORM CONTAINERS */
fieldset {
    border: 1px solid #ccc;
    margin: 1em 0;
    padding: 0.5em 1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
legend {
    color: #006dba;
    font-weight: normal;
    font-size: 120%;
    padding: 0 .5em;
}
 
/* FORM INPUT LABELS */
fieldset .prop {
    clear: both;
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
}
 
label {
    display: inline-block;
    position: relative;
    text-align: right;
    width: 15em;
    margin-right: 1.5em;
}

label.chkbox {
	text-align: left;
	
}
 
.mandatory .indicator {
    color: #cc0000;
    position: absolute;
    right: -1.25em;
}
 
/* FORM INPUTS */
fieldset input, fieldset select, fieldset textarea {
    margin: 0;
}
 
fieldset input, fieldset select {
    vertical-align: middle;
}
 
/* setting border on some inputs (e.g. checkboxes in Opera) causes problems so try to limit just to text boxes */
fieldset input[type='text'], fieldset select, fieldset textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    padding: 2px 4px;
}
 
fieldset input[type='text']:focus, fieldset select:focus, fieldset textarea:focus {
    border: 1px solid #b2d1ff;
}
 
select {
    padding: 2px 2px 2px 0;
}
 
textarea {
    vertical-align: top;
}
 
/* FORM FIELDS WITH AN ERROR */
.error label {
    color: #cc0000;
}
 
.error input[type='text'], .error input[type='password'], .error select, .error textarea {
    background: #fff3f3;
    border: 1px solid #cc0000;
}
 
/* hack for IE as it won't recognize the CSS3 selector on the previous rule */
.error input {
    *background: #fff3f3;
    *border: 1px solid #cc0000;
}

.prop table {
	display: inline-block;
	border: 1px solid #CCC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.prop table thead tr:first-child {
	border-bottom: 1px solid #ccc;
}
.prop table tbody td {
	padding-bottom: 2px;
}
.prop table th {
	padding: 1px 2px;
	background-color: #eee;
}
.prop table th.ctr, .prop table td.ctr {
	text-align: center;
}

