/* IE6 hacks and other CSS specific stuff */

* html .twocol {
	height: 1%;
}

* html #content {
	height: 570px;
}

button.greybutton span { padding-top: 6px; }
a.greybutton span { padding-top: 6px; }

.formcancel {
	position: absolute;
}

.formSet input, .formSet select.long {
	width: 30em;
}
.formSet input.short, .formSet select.short {
	width: 15em;
}
.formSet input.chkRow, .formSet #chkAll {
	width: 15px;
}
.formSet .dataTables_filter input {
	width: 15em;
}
