/* IE7 hacks and other CSS specific stuff */
/*
*:first-child+html button.greybutton span {
	padding-top: 3px;
}
*/

.formWrap button.greybutton span {
	padding-top: 6px;
}

.formcancel {
	position: absolute;
}

.formSet div.clearfix img.ui-datepicker-trigger {
	position: relative;
	top: -1px;
	left: -20px;
}