a:link img, a:visited img, a:hover img {
	border: none;
}

.form-section {
	border-bottom: 2px solid #333333;
	margin-bottom: 0.8em;
	font-weight: bold;
}
.numeric {
	text-align: right;
	width:9em;
}
label.radio-choice {
	text-align: right;
}
.non-numeric {
	width:20em;
}

table.breakdown .numeric {
	width:6em;
}


.special, .special input[type='text'], .special select, .special textarea {
    font-style: italic;
    color: blue;
}
.sub-total {
	font-weight: bold;
}
.sub-total input[type='text'], .sub-total select, .sub-total textarea {
    font-weight: bold;
}

.quote-comparisons .header {
	background-color: #D9D9D9;
}
.quote-comparisons .sub-total {
	font-weight: bold;
	font-size: 12px;
}
.quote-comparisons .best {
	color: #004400;
	background-color: #DDFFDD;
}
.quote-comparisons .negative-amount {
	color: red;
}
.quote-comparisons .benefit-amt {
	background-color: #FDFD00;
}
.quote-comparisons .benefit-prcnt {
	background-color: #FDFD7F;
}

td.print-quote-btn, td.accept-quote-btn {
	text-align: center;	
}


.breakdown .sub-total {
	font-weight: bold;
}
.breakdown .gst {
	font-weight: bold;
}
.breakdown .grand-total {
	font-weight: bold;
}

	

.grand-total {
	font-weight: bold;
	font-style: italic;
}
.grand-total input[type='text'], .grand-total select, .grand-total textarea {
    font-weight: bold;
	font-style: italic;
}
.sgl-line-above { border-top-width:1px; border-top-style:solid; border-top-color:#CCCCCC; }
.dbl-line-above { border-top-width:3px; border-top-style:double; border-top-color:#CCCCCC; }
.thk-line-above { border-top-width:3px; border-top-style:solid; border-top-color:#CCCCCC; }
.sgl-line-below { border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#CCCCCC; }
.dbl-line-below { border-bottom-width:3px; border-bottom-style:double; border-bottom-color:#CCCCCC; }
.thk-line-below { border-bottom-width:3px; border-bottom-style:solid; border-bottom-color:#CCCCCC; }

img.vehicle_image_large { width: 480px; border:1px solid #CCCCCC; }
img.vehicle_image       { width: 240px; border:1px solid #CCCCCC; }
img.vehicle_image_small { width: 120px; border:1px solid #CCCCCC; }

/* Tooltip links */
.help-tip {
    background: transparent url(../images/skin/information.png) 4px 50% no-repeat;
    padding-left: 24px;
    font-size: 12px;
}
.help-tip-warn {
    background: transparent url(../images/skin/error.png) 4px 50% no-repeat;
    padding-left: 24px;
    font-size: 12px;
}
a.help-tip, a.help-tip-warn {
	text-decoration: none;
}

.add-item, .remove-item {
	cursor: pointer;
	font-size: 90%;
    font-weight: bold;
}
.add-item img, .remove-item img {
	vertical-align:middle;
}

.lookup {
    background: #FCF4CE url(../images/skin/cog_go.png) 4px 50% no-repeat;
    padding-left: 24px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    border-color: #F4D95B;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

fieldset.editable {
	background-color:#FFFDDD;
}

input.uneditable, textarea.uneditable, span.uneditable {
	background-color: #FCFCFC;
	color: #666;
	border: 1px solid #CCCCCC;
	padding: 2px 4px;
}

.quote_edit_form label {
	width: 16em;
	text-align: left;
	padding-left:5px;
}
.quote_edit_form label.radio-choice {
	text-align: right;
}
.quote_edit_form label.radio-choice-top {
	text-align: right;
	margin-bottom: 1px;
	padding-bottom: 1px;
}
.quote_edit_form input.item-label {
	width: 14em;
	/*text-align: right;*/
}
.quote-item {
	margin-bottom:1px 0;
}
input.quote-item {
	margin-left:0.5em;
	width:6em;
}

div.itemListProp {
	margin:0;
}
.itemListWrapper {
	margin-top:5px;
	/*background-color: #AAA;*/
	padding: 0 10px;
}
ol.itemList {
	/*background-color: #DDD;
	padding-left:28px;*/
	padding: 0px 28px;
}
ol.itemList li {
	list-style-type: decimal;
}



