/* Production CSS */
html {
	height: 100%;
	background-color: #E1E1E1;
}

* {
	margin: 0;
	padding: 0
}

body {
	margin: 0 auto;
	/*text-align: center;*/
	font: normal 12px arial, helvetica, sans-serif;
	height: 100%;
	background: #E1E1E1 url(../images/page.jpg) repeat-x scroll left top;
	color: #333333;
	min-width: 1132px;
}
body.admin {
	background-color: #fff3f3;
}

p {
	margin-bottom: 18px;
	text-align: left;
	font-size: 12px;
	line-height: 18px
}

p em {
	font-style: italic;
	color: #a1a1a1
}

p.success {
	color: #12863b;
	padding-bottom: 5px
}

p.error {
	color: #cc2a2a;
	padding-bottom: 5px
}

p.extraPad {
	margin-bottom: 30px
}

.spinner {
    padding: 15px;
    font-weight: bold;
    text-align: center;
}


/**************** Page Styles ****************/
#adminNavsWrapper {
	width: 96%;
	margin: 0 auto;
	min-width: 950px;
	max-width: 1800px;
	padding: 12px 10px 4px;
	text-align: center
}

.adminRight {
	float: right !important;
	margin: 0 5px 0 0
}

body#admin .adminNavs {
	margin-bottom: 0
}

.adminNavs {
	margin-bottom: 3px;
	float: left
}

.adminNavs {
	margin-bottom: 8px !ie
}

.adminNavs ul {
	list-style: none
}

.adminNavs li {
	display: inline;
	margin: 0;
	padding: 0
}

.adminNavs a {
	float: left;
	background: url("../images/left_both.gif") no-repeat left top;
	padding: 0 3px 0 9px;
	text-decoration: none;
	font: bold 11px arial, helvetica, sans-serif;
	line-height: 16px;
	display: block
}

.adminNavs a span {
	float: left;
	display: block;
	background: url("../images/right_both.gif") no-repeat right top;
	padding: 2px 9px 2px 0;
	color: #828282
}  /* Commented Backslash Hack hides rule from IE5-Mac \*/
.adminNavs a span {
	float: none
}  /* End IE5-Mac hack */
.adminNavs a:hover span {
	color: #333
}

.adminNavs #adminNavsOn a {
	background-image: url("../images/left_on.gif");
	border-width: 0
}

.adminNavs #adminNavsOn a span {
	background-image: url("../images/right_on.gif");
	color: #333;
	padding-bottom: 8px
}

.adminNavs #adminNavsOn a:hover {
	background-position: top left
}

.adminNavs #adminNavsOn a:hover span {
	background-position: top right
}

#case {
	width: 96%;
	margin: 0 auto 33px;
	min-width: 950px;
	max-width: 1800px;
	position: relative;
	background: transparent url(../images/body_bg.png) repeat-x scroll 0 0;
}

#case .shadowHeaderWrap {
	background: transparent url("../images/iris_header_left.png") no-repeat left 0;
	
}

#case .shadowHeader,#case .shadowHeader .c {
	text-align: left
}

#case .shadowBottomLeft .shadowMidLeft {
	height: 11px;
	_background-color: #FFF
}

#case .shadowBottomLeft .shadowMidLeft {
	height: 14px;
	_background-color: #FFF
}

#case .shadowHeader {
	background-image: url("../images/tl.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-right: 14px;
	_margin-right: 0;
	_background: none
}

#case .shadowHeader #logoSpacer {
	height: 71px;
}

#case .shadowHeader .shadowMidLeft {
	background-image: url("../images/tr.png");
	background-repeat: no-repeat;
	background-position: right 0;
	margin-right: -14px;
	_margin-right: 0;
	margin-left: 14px;
	_background: none;
	_background-color: #FFF
}

#case .shadowWrap2 {
	background: transparent url("../images/mr.png") repeat-y right 0;
	/*margin-right: 6px;
	_margin-right: 0;*/
}
#case .shadowWrap {
	background: #fff url(../images/topnav_bg.gif) repeat-x;
	margin-right: 6px;
	_margin-right: 0;
}

#case .shadowWrap .navheader {
	background: url(../images/topnav_bg.gif) repeat-x;
	height: 35px;
	z-index: 5;
}

#case .shadowWrap .shadowMidLeft {
	/*background: transparent url("../images/mr.png") repeat-y right 0;*/
	margin-right: -6px;
	_margin-right: 0;
	_background: none;
	_background-color: #FFF
}

#case .shadowWrap .shadowMidLeft .shadowMidContent {
	margin: 0 12px 0 8px;
	_margin: 0;
	background: #fff;
	text-align: left
}

#case .shadowBottomLeft {
	background: transparent url("../images/bl.png") no-repeat 0 0;
	margin-right: 14px;
	_margin-right: 0;
	_background: none
}

#case .shadowBottomLeft .shadowMidLeft {
	background: transparent url("../images/br.png") no-repeat right 0;
	margin-right: -14px;
	_background: none;
	_margin-right: 0;
	_background-color: #FFF
}



/**************** TopNav menu Styles ****************/
ul.topnav, ul.topnavRight {
	list-style: none;
	padding: 0 20px;	
	margin: 0;
	float: left;
	/*width: 100%;*/
	background: #222;
	font-size: 1.2em;
	background: url(../images/topnav_bg.gif) repeat-x;
	z-index: 1;
	position: relative;
}
ul.topnavRight {
	float: right !important;
}
ul.topnav li, ul.topnavRight li {
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}
ul.topnav li a, ul.topnavRight li a {
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover, ul.topnavRight li a:hover {
	background: url(../images/topnav_hover.gif) no-repeat center top;
}
ul.topnav li span, ul.topnavRight li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../images/subnav_btn.gif) no-repeat center 2px;
}
ul.topnav li span.subhover, ul.topnavRight li span.subhover {
	background-position: center -33px; cursor: pointer;
} /*--Hover effect for trigger--*/

ul.topnav li ul.subnav, ul.topnavRight li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;
	z-index: 500;
}
ul.topnav li ul.subnav li, ul.topnavRight li ul.subnav li {
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
	text-align: left;
}
html ul.topnav li ul.subnav li a, html ul.topnavRight li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(../images/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover, html ul.topnavRight li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(../images/dropdown_linkbg.gif) no-repeat 10px center; 
}

ul.topnavRight li.menuLastLiRight {
	padding-right: 0;
}

.twocol {
	background: #FFFFFF url(../images/2col.png) repeat-y scroll right bottom;
	position: relative;
	min-height: 570px;
	/*overflow: hidden;*/
}

#content {
	padding: 15px 18px 25px 15px;
	position: relative;
	min-height: 570px;
	
}

.twocol #content {
	background: transparent url(../images/2col-top.png) no-repeat scroll right top;
	
}


#leftcol {
	height: auto !important;
	margin-right: 261px;
	min-height: 570px;
	/*overflow: hidden;*/
}

#rightcol {
	padding: 65px 0 0;
	position: absolute;
	right: 17px;
	top: 0;
	width: 218px;
	min-height: 570px;
	display: inline;
	overflow: hidden;
}


#breadcrumbBar {
	margin-bottom: 2px;
}
th {
	font-weight: bold;
}
td {
	font-size: 11px;
	line-height: 15px;
}

table.list {
	/*display:inline;*/
	margin: 0 0 10px;
	width: 100%;
}
table.list thead th {
	background-color: #CCCCCC;
	border-bottom: 1px solid #CCC;
	color: #333;
	font-size: 12px;
	padding: 6px 20px 6px 10px;
	text-shadow: 1px 1px 0 #FFFFFF;
}
table.list thead th.hdrLeft {
	border-top-left-radius : 6px;
	-moz-border-radius-topleft : 6px;
	-webkit-border-top-left-radius: 6px;
	margin: 0;
	padding: 6px;
}
table.list thead th.hdrRight {
	border-top-right-radius : 6px;
	-moz-border-radius-topright : 6px;
	-webkit-border-top-right-radius: 6px;
}
table.list thead th.header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.list thead th.headerDisabled {
	background-image: none;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: default;
}
table.list thead th.headerSortUp {
	background-image: url(../images/asc.gif);
}
table.list thead th.headerSortDown {
	background-image: url(../images/desc.gif);
}
table.list thead th.headerSortDown, table.list thead th.headerSortUp {
	background-color: #B0B0B0;
}
table.list thead th.hdrLeft input {
	margin: 0; padding: 0;
}
table.list tbody td {
	color: #4c4c4c;
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid #D9D9D9;
}
table.list tbody td.cellLeft {
	padding: 6px;
}

table.grid {
	width: 100%;
	table-layout: fixed;
}
table.grid th {
	font-size: 11px;
	line-height: 15px;
	padding: 5px 0px 5px 3px;
	text-align: left;
	width: 95px;
}
table.grid td {
	font-size: 11px;
	line-height: 15px;
	padding: 4px;
}
table.grid td.spacer {
	width: 20px;
}
table.grid td, table.grid th {
	border-bottom: 1px solid #D9D9D9;
}
table.grid td.last, table.grid th.last, table.grid td.spacer {
	border-bottom: none;
}

.highcharts-credits {
	display: none;
}
b.increase {
	color: green;
}
b.decrease {
	color: red;
}

.special, .special a {
	color: #9E1E15;
	font-weight: bold;
	text-decoration: none;
}
.special a:hover {
	text-decoration: underline;
}

table.iris th, table.iris td {
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
}
table.iris th {
	text-align: left;
}
table.iris td {
	background-color: #fff;
}
table.iris td.left {
	text-align: left;
}
table.iris td.rowHd {
	border-right: 1px solid #D9D9D9;
}
table.iris td.last {
	background-color: transparent;
}
table.iris th.sub-total {
	
}
table.iris .header {
	background-color: #D9D9D9;
}
table.iris .sub-total {
	font-weight: bold;
}
table.iris .grand-total {
	font-weight: bold;
	font-style: italic;
}
table.iris td.best {
	/*border-bottom-color: #DDFFDD;*/
}

table.iris .best {
	color: #004400;
	background-color: #DDFFDD;
}
table.iris .negative-amount {
	color: red;
}

table.iris .benefit-amt {
	/*background-color: #FDFD00;*/
	border-top-width:3px; border-top-style:double; border-top-color:#CCCCCC;
	border-bottom: none;
}
table.iris .benefit-prcnt {
	/*background-color: #FDFD7F;*/
}

table.iris td.print-quote-btn, table.iris td.accept-quote-btn {
	text-align: center;
}


/* table sorter */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 5px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #CCCCCC;
	font-size: 8pt;
	padding: 4px;
}

table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerDisabled {
	background-image: none;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: default;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
.listTotal {
	margin: 0;
	padding: 0 10px;
	line-height:12px;
	font-size: 11px;
	font-style: italic;
}
.criteria {
	padding: 5px 0;
	color: #3081DD;
	/*margin: 0 0 20px;
	background-color: #E7F2F7;
	border: 1px solid #3081DD;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
	text-align: left;
}


.emptyListPanel {
	background: #E1FFD1 none repeat scroll 0 0;
	border-bottom: 1px solid #C5F8AC;
	border-top: 1px solid #C5F8AC;
	margin: 15px 0;
	padding: 5px 15px 18px;
	text-align: center;
}
.emptyListPanel h1 {
	color: #499524;
	font-size: 24px;
	font-weight: bold;
	padding: 20px 0 10px;
	text-align: center;
}
.emptyListPanel h1 a {
	color: #499524;
}
.emptyListPanel p {
	color: #7D8977;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	padding-bottom: 8px;
}


.highlight {
	background-color: #FFFECC;
}
.tabelRowHighlight {
	background-color: #FFFECC !important;
}

.numeric {
	text-align: right;
	width:9em;
}

.optGrpHdr {
	background: #E7F2F7 none repeat scroll 0 0;
	margin: 0 0 15px;
	padding: 4px 0;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius: 4px;
}
h3.optHdr {
	color: #333;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	margin: 0;
	padding: 1px 10px;
}
dl.optGrpMenu {
	padding-top: 5px;
	margin-bottom: 25px;
}
dl.optGrpMenu dt {
	height: 40px;
	width: 26px;
	float: left;
	margin-top: 2px;
}
dl.optGrpMenu dd {
	color: #828282;
	font-size: 11px;
	margin-left: 25px;
	padding-bottom: 4px;
}
dl.optGrpMenu dd a {
	font-size: 12px;
	font-weight: bold;
	color: #3081DD;
}
dl.optGrpMenu dd.last {
	margin-bottom: 10px;
}

.flashMsg {
	margin: 10px 0 5px;
	padding: 5px;
	color: #A97D09;
	background-color: #FFFECC;
	border: 1px solid #FFD745;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.flashMsg p {
	font-size: 12px;
	margin: 0;
	padding: 0;
}
.flashMsg p.flashOk {
	background: transparent url("../images/skin/accept.png") no-repeat left center;
	padding-left: 20px;
}
.flashMsg p.flashWarn {
	background: transparent url("../images/skin/error.png") no-repeat left center;
	padding-left: 20px; 
}
.flashMsg p.flashErr {
	background: transparent url("../images/skin/exclamation.png") no-repeat left center;
	padding-left: 20px;
}

p.notice {
	margin: 10px 0 5px;
	padding: 8px;
	color: #A97D09;
	background-color: #FFFECC;
	border: 1px solid #FFD745;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}



.formBg {
	background: #F4F4F4 none repeat scroll 0 0;
	margin-top: -5px;
	padding: 4px 0;
	line-height: 1em;
	border-radius : 8px;
	-moz-border-radius : 8px;
	-webkit-border-radius: 8px;
}
.formWrap {
	padding: 12px 15px 2px;
	line-height: 1em;
}
.formWrap p {
	margin-bottom: 8px;
}
.formBg h3, .formBg h3 a.expander, #simplemodal-container h3 {
	color: #1B57AA;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 10px;
}

.formBg h3 a.expander, .formBg h3 a.expander:hover, .formBg h3 a.expander:visited {
	text-decoration: none;
}
.new-fin-app {
	background: transparent url("../images/skin/page_add.png") no-repeat left center;
	padding-left: 20px;
}
.expanded {
	background: transparent url("../images/skin/resultset_up.png") no-repeat left center;
	padding-left: 20px;
}
.collapsed {
	background: transparent url("../images/skin/resultset_down.png") no-repeat left center;
	padding-left: 20px;
}

.formBg p, , #simplemodal-container p {
	font-size: 12px;
	line-height: 16px;
	margin: 0 0 8px 0;
	/*padding-bottom: 8px;*/
}
.formSet {
	background-color: #E4E4E4;
	line-height: 1.2em;
	min-height: 1.2em;
	margin: 5px 0 15px;
	padding: 3px;
	width: 99%;
}
.formSet div.clearfix {
	padding: 4px;
}
.formSet div.clearfix img.ui-datepicker-trigger {
	position: relative;
	top: 4px;
	left: -20px;
}
.formSet label {
	font-size: 11px;
	float: left;
	padding: 7px 0 0;
	width: 100px;
	
	text-align: right;
	padding-right: 4px;
}
.formSet .error label {
	color: #cc0000;
}
.formSet input, .formSet select, .formSet textarea {
	background-color: #FFF;
	
}
.formSet input.radio {
	background-color: #E4E4E4;
}
.formSet .error input, .formSet .error select, .formSet .error textarea {
	color: #cc0000;
	background: #fff3f3;
    border: 1px solid #cc0000;
}

.formSet input[type="text"] { width:30em; }
.formSet select.long { width:30.8em; }

.formSet input[type="text"].short { width:15em; }
.formSet select.short { width:15.8em; }

.formSet input[type="text"].shortshort { width:7.5em; }
.formSet select.shortshort { width:8.3em; }

.formSet input[type="text"].numeric { width:9em; text-align:right; }
.formSet select.numeric { width:9.8em; text-align:right; }

.formSet .tableField {
	border: 1px solid #d9d9d9;
	margin: 7px 0 7px 100px;
}
.formSet .tableField th {
	padding: 2px 4px;
	text-decoration: underline;
	font-weight: normal;
	font-size: 11px;
	background-color: white;
}
.formSet .tableField td {
	padding: 2px 4px;
	background-color: white;
}
.formSet .tableField td.centered {
	text-align: center;
}

.formSet #newUsed {
	margin: 0;
}
.formSet #newUsed span {
	font-weight: bold;
	margin-right: 15px;
}

.tight, .formSet .tight, .formSet label.tight {
	width: auto;
}
.formSet label.tight {
	padding-left: 4px;
	padding-right: 4px;
}
.lefty {
	float: left;
}
.clearlefty {
	clear: left;
}

span.fieldNoEdit {
	display: inline;
	position: relative;
	width: 200px;
	padding: 5px 4px;
	margin: 4px 0 4px;
	font: normal 12px arial, helvetica, sans-serif;
	border: 1px solid #cccccc;
	color: #333;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

a.fieldLinkRight {
	font-size: 11px;
	padding: 7px 0 7px;
	margin: 0;
}

p.fineprint {
	padding: 10px 3px 0 3px;
	font-size: 11px;
	font-style: italic;
}
p.fineprint span {
	padding-right: 5px;
	font-weight: bold;
}

p.togglerGrp {
	font-size: 11px;
	padding-bottom: 0;
}
p.togglerGrp a, p.togglerGrp a:active, p.togglerGrp a:visited {
	text-decoration: none;
	color: #3081DD;
}
p.togglerGrp a:hover {
	/*text-decoration: underline;*/
}
p.togglerGrp a.selectedView {
	text-decoration: underline;
}
.level2 {
	padding: 5px;
}

.good {
	color: green;
	font-weight: bold;
}
.bad {
	color: red;
	font-weight: bold;
}
p.good {
	border: 1px solid green;
}
p.bad {
	border: 1px solid red;
}

select {
	padding: 2px;
	font: normal 12px arial, helvetica, sans-serif;
}
input[type="text"], input[type="password"], select, textarea {
	padding: 5px 4px;
	font: normal 12px arial, helvetica, sans-serif;
	border: 1px solid #cccccc;
	color: #333;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.formSet input[type="text"].roInput {
	background-color: transparent;
	border: none;
}
.topPad {
	margin-top: 8px;
}
.formSet p.mid-form {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	margin: 4px;
}

.ui-menu-item {
	border-bottom:1px solid #CCCCCC;
}
.ui-menu-item:last-child {
	border-bottom:none;
}

/**************** Login Form Styles ****************/
#formWrapper {
	width: 450px;
	margin: 0 auto;
	min-width: inherit;
	padding: 0 20px 10px;
	text-align: left
}

#formCasing {
	background: url("../images/login-body.png") repeat-y top left;
	/*padding: 20px 35px 1px 27px;*/
	zoom: 1.0
}
#formBody {
	background: url("../images/login-case.png") no-repeat top left;
	padding: 20px 35px 1px 27px;
}

#formFooter {
	background: url("../images/login-footer.png") no-repeat top left;
	height: 18px
}

#additional {
	width: 450px;
	margin: 80px auto 0
}

form dl {
	margin: 15px 0
}

form dt {
	float: left;
	width: 80px;
	font-size: 14px;
	line-height: 24px;
	color: #a5a5a5;
	padding-top: 5px
}

form dd {
	margin: 0 0 10px 80px;
	font-size: 12px;
	line-height: 24px;
	color: #a5a5a5;;
}

dd span {
	color: #ccc
}

h1 {
	font-size: 24px;
	margin: 7px 0 8px;
	padding: 0 0 12px;
	text-align: left;
	line-height: 26px;
	padding: 12px 0 12px 0 !ie
}

h2 {
	font-size: 14px;
	color: #333;
}
input.input {
	font-size: 14px;
	padding: 8px 5px;
	font: normal 14px arial, helvetica, sans-serif;
	border: 1px solid #dcdcdc;
	color: #444;
	background-color: #FFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

input.input:focus {
	border: 1px solid #bfbfbf;
	outline: none
}

input.button {
	padding: 0;
	vertical-align: middle
}

/*
input#emailpassword {
	vertical-align: middle;
	margin-right: 5px
}
input#forgot {
	width: 280px
}
*/

input.checkbox {
	border: 0;
	padding: 0
}

#successBig {
	background: #e1ffd1;
	border-top: 1px solid #c5f8ac;
	border-bottom: 1px solid #c5f8ac;
	margin: 0 0 50px;
	padding: 5px 20px 15px;
	text-align: left
}

#successBig h1 {
	padding: 10px 0 3px;
	text-align: left;
	font-size: 20px;
	color: #000
}

#successBig h2 {
	font-size: 16px;
	padding: 8px 10px;
	margin: 5px 0 15px;
	text-align: left;
	background: #c4edaf
}

#successBig p {
	color: #535e51;
	padding: 0 0 10px;
	margin: 0
}

#failure {
	background: #ffd1d1 url("../images/skin/cross.png") no-repeat 13px 11px;
	border-top: 1px solid #f8acac;
	border-bottom: 1px solid #f8acac;
	margin: 0;
	padding: 10px 10px 10px 35px
}

#failure h3 {
	color: #8d3f3f;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-align: left
}

.failureMessage {
	background: #fff1f1;
	border-bottom: 1px solid #fddcdc;
	padding: 15px 20px 5px;
	color: #664b4b;
	margin-bottom: 30px
}

.clear {
	clear: both;
	height: 1px;
	text-overflow: none;
}

.clear {
	display: inline !ie
}

.clearButton {
	clear: both;
	height: 1px;
	text-overflow: none;
}

.formcancel {
	display: inline;
	color: #999;
	line-height: 24px;
}

.login_logo {
	margin: 0 auto;
	padding-right: 11px;
	_margin-bottom: 5px
}

.login_js_alert {
	background: #FEF5CA;
	border-bottom: 1px solid #F1DF95;
	color: #654B4A;
	padding: 8px 0 9px
}

.bread {
	font-size: 11px;
	line-height: 14px;
	margin: 5px 0;
	padding: 0 0 5px 0;
}
span.breadArrow {
	background: transparent url("../images/breadArrow.gif") no-repeat scroll top left;
	margin: 0 6px;
}

.contentH1 {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	padding-bottom: 0;
}

/* Buttons! */
a.greybutton {
	background: transparent url("../images/grey-right.gif") no-repeat scroll right -1px;
	_background: transparent url("../images/grey-greybg-right.gif") no-repeat scroll top right;
	color: #545454;
	display: block;
	float: left;
	font: bold 12px arial, sans-serif;
	height: 30px;
	margin-right: 6px;
	padding-right: 12px !important;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	font-size: 11px;
}

a.greybutton span {
	background: transparent url("../images/grey-left.gif") no-repeat;
	_background: transparent url("../images/grey-greybg-left.gif") no-repeat;
	display: block;
	line-height: 14px;
	padding: 6px 0 10px 10px;
	color: #545454
}

a.greybutton img {
	margin: 0 6px -3px 0 !important;
	padding: 0;
	border: none
}

/*===============================*/

/* REQUIRED BUTTON STYLES: */		
button { 
	position: relative;
	border: 0; 
	padding: 0;
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
}

button::-moz-focus-inner {
	border: none;  /* overrides extra padding in Firefox */
}

button span { 
	position: relative;
	display: block; 
	white-space: nowrap;	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Google Chrome only - fix margins */
	button span {
		margin-top: -1px;
	}
}


/* OPTIONAL BUTTON STYLES for applying custom look and feel: */		
button.greybutton { 
	padding: 0 15px 0 0; 
	margin-right: 5px; 
	font-size: 1em; 
	text-align: center;
	font-weight: bold;
	background: transparent url("../images/grey-right.gif") no-repeat right -2px;
}
	
button.greybutton span {
	padding: 6px 0 0 13px; 
	height: 30px; 
	background: transparent url("../images/grey-left.gif") no-repeat left top; 
	color: #545454; 
}

button.greybutton span { padding-top/*\**/: 3px\9; }

/*	
button.greybutton:hover, button.greybuttonHover {
	background-position: right -210px; 
}
button.greybutton:hover span, button.greybuttonHover span {
	background-position: 0 -70px;
}
*/

/*===============================*/
/*
button.greybutton {
	background: transparent url("../images/grey-right.gif") no-repeat scroll top right;
	color: #545454;
	display: block;
	float: left;
	font: bold 12px arial, sans-serif;
	margin-right: 6px;
	padding-right: 11px !important;
	text-decoration: none;
	border: 0;
	cursor: pointer;
}

button.greybutton {
	width: auto;
	overflow: visible;
	display: block;
	line-height: 16px;
	_padding: 1px 12px 3px 0;
	_margin-right: 10px
}

button.greybutton span {
	background: transparent url("../images/grey-left.gif") no-repeat;
	display: block;
	line-height: 16px;
	border: 0 none;
	padding: 6px 1px 11px 10px;
	margin-right: 0 !important;
	color: #545454;
}
*/
button.greybutton img {
	margin: 0 6px -3px 0 !important;
	padding: 0;
	border: none
}


/* MESSAGES AND ERRORS */
/*
.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}
.message.warning {
    background: #f3f8fc url(../images/skin/exclamation.png) 8px 50% no-repeat;
    color: #cc0000;
    
}
.message.error {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
}
*/

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
    text-align: left;
}
div.errors ul {
    list-style: none;
    padding: 0;	
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

#contentMain div.errors {
	/*margin-bottom: 25px;*/
}


/* FORM FIELDS WITH AN ERROR */
label.error {
    color: #cc0000;
}
 
input.error, select.error, textarea.error {
    background: #fff3f3;
    border: 1px solid #cc0000;
}

.invisible {
	display: none;
}

/**********    DataTable CSS    ************/

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1;
}

.formSet .dataTables_wrapper {
	min-height: 30px;
	_height: 30px;
}

.dataTables_processing {
	height: 30px;
	text-align: center;
	color: #999;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
	/*
	position: relative;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	margin-bottom: 15px;
	padding: 5px 0 35px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
	*/
}

.dataTables_length {
	/*width: 40%;*/
	float: left;
}

.dataTables_filter {
	/*width: 50%;*/
	float: right;
	text-align: right;
}
.formSet .dataTables_filter input[type="text"] {
	width: 15em;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/desc.gif') no-repeat center right;
}

.sorting_desc {
	background: url('../images/asc.gif') no-repeat center right;
}

.sorting {
	background: url('../images/bg.gif') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}

.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

.alt_pagination div.dataTables_info {
	width: 40%;
	color: #999;
}
.alt_pagination tbody td {
	background-color: white;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px 5px;
	margin: 0 1px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #82B5F2;
}

.comment {
	border-top: 1px dotted #9f9f9f;
	overflow: hidden;
	padding: 20px 0;
}

#entity-tabs .ui-tabs-panel {
	padding: 5px;
}
#entity-tabs .ui-tabs-panel .formSet {
	margin: 0;
	background-color: transparent;
}

/*
label span.indicator {
	background: url('../images/skin/bullet_red.png');
	width: 16px;
	display: inline-block;
	padding-left:2px;
}*/

.formSet .mandatory input, .formSet .mandatory select, .formSet .mandatory textarea {
	background-color: #FEFFDE;
}

.formSet input.chk {
	margin-top: 7px;
}

.formSet .clearfix table {
	margin-top: 4px;
	border: 1px solid #CCCCCC;
	background-color: white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.formSet .clearfix table th {
	font-weight: normal;
	text-decoration: underline;
}
.formSet .clearfix table th, .formSet .clearfix table td {
	font-size: 11px;
	padding: 1px 6px;
}

.formSet .clearfix table td.center {
	text-align: center;
}

.ui-widget .formSet input, .ui-widget .formSet select, .ui-widget .formSet textarea {
	font-size:12px;
}

.quote-state-list {
	/*margin-bottom: 10px;*/
	text-align: center;
}
.quote-state-list .quote-state-wrap {
	display: inline-block;
	padding: 0 20px 0 0;
	background: url('../images/skin/control_play_blue.png') no-repeat center right;
}
.quote-state-list .quote-state-wrap:first-child {
	/*background: url('../images/skin/control_stop.png') no-repeat center right;*/
}
.quote-state-list .quote-state-wrap:last-child {
	background: none;
	padding: 0;
}
.quote-state-list .quote-state-wrap a {
	text-decoration: none;
}
.quote-state-list .quote-state-wrap a:hover {
	color: black;
	text-decoration: underline;
	text-shadow: #fff 0 1px 1px;
}
.quote-state-list .quote-state-wrap a:hover .quote-state-selected {
	background-color: #FFFF46;
	border: 1px solid #F5B645;
}
.quote-state-list .quote-state {
	border: 1px solid #999;
	background-color: white;
	height: 60px;
	width: 90px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #999;
}
.quote-state-list .quote-state-selected {
	background-color: yellow;
	border: 1px solid orange;
	font-weight: bold;
	color: black;
}
.quote-state-list .quote-state span {
	line-height: 80px;
}
.qstat-cancelled { background: url('../images/skin/cross.png') no-repeat center 15px; }
.qstat-create   { background: url('../images/skin/page_white_add.png') no-repeat center 15px; }
.qstat-select  { background: url('../images/skin/page_white_gear.png') no-repeat center 15px; }
.qstat-submit  { background: url('../images/skin/award_star_add.png') no-repeat center 15px; }
.qstat-accept  { background: url('../images/skin/page_white_go.png') no-repeat center 15px; }
.qstat-approve  { background: url('../images/skin/accept.png') no-repeat center 15px; }
.qstat-settled   { background: url('../images/skin/tick.png') no-repeat center 15px; }
.qstat-documentation   { background: url('../images/skin/tick.png') no-repeat center 15px; }
.qstat-activated { background: url('../images/skin/car.png') no-repeat center 15px; }
.qstat-cancelled-gs { background: url('../images/skin/cross_gs.png') no-repeat center 15px; }
.qstat-create-gs   { background: url('../images/skin/page_white_add_gs.png') no-repeat center 15px; }
.qstat-select-gs  { background: url('../images/skin/page_white_gear_gs.png') no-repeat center 15px; }
.qstat-submit-gs  { background: url('../images/skin/award_star_silver_3.png') no-repeat center 15px; }
.qstat-accept-gs  { background: url('../images/skin/page_white_go_gs.png') no-repeat center 15px; }
.qstat-approve-gs  { background: url('../images/skin/accept_gs.png') no-repeat center 15px; }
.qstat-settled-gs   { background: url('../images/skin/tick_gs.png') no-repeat center 15px; }
.qstat-documentation-gs   { background: url('../images/skin/tick_gs.png') no-repeat center 15px; }
.qstat-activated-gs { background: url('../images/skin/car_gs.png') no-repeat center 15px; }

/*========================================== override jQuery datepicker styling */
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	padding:1px;
}
.ui-widget input, .ui-widget select,
.ui-widget textarea, .ui-widget button {
	font-size:0.8em;
}

/*========================================== override jQuery tabs styling */
.ui-tabs .ui-tabs-nav li a {
	padding: 0.25em 0.5em;
}

/*========================================== override simplemodal styling */
/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:275px; width:400px; color:#333; background-color:#f4f4f4; border:4px solid #444; padding:16px 12px 12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a.modalCloseImg {background:url(../images/gritter-close-ie6.gif) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
/*#simplemodal-container h3 { border-bottom: 1px solid #333; }*/

#simplemodal-container .window-title {
	background:url(../images/icons/48x48/identity.png) no-repeat;
	height: 48px;
	line-height: 48px;
	padding-left: 65px;
	display: block;
	font-size: 24pt;
	font-weight: bold;
	position: absolute;
	top: -30px;
}
/*
#quote-finance .formSet label {
	text-align: right;
	padding-right: 4px;
}
*/

#anl-wrapper, #ine-wrapper {
	display: inline-block;
	font-size: 12px;
	width: 100%;
}
.anl-table {
	float: left;
	width: 50%;
}
.anl-table-wrapper {
	margin: 0;
	padding: 10px;
}
.anl-table ul {
	border: 1px solid #ccc;
	background-color: #ccc;
}
.anl-table ul li {
	padding: 2px 4px;
}
.anl-table ul li.hdr {
	text-align: center;
	font-weight: bold;
}
.anl-table ul li.bdy {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: white;
}
.anl-table ul li.bdy ol li {
	/*list-style: decimal outside;*/
	list-style: none;
	/*margin-left: 28px;*/
	padding: 0;
}
.anl-table ul li.bdy ol li select, .anl-table ul li.bdy ol li input {
	/*  */
}
.anl-table ul li.bdy ol li select {
	float: left;
	width: 60%;
	padding: 1px 2px;
}
.anl-table ul li.bdy ol li span.currency-sign, .anl-table ul li.ftr span.currency-sign {
	text-align: right;
	float: right;
	line-height: 20px;
	height: 20px;
	font-weight: bold;
}
.anl-table ul li.bdy ol li span.remove-item {
	float: right;
}
.anl-table ul li.bdy ol li input, .anl-table ul li.ftr input {
	text-align: right;
	float: right;
	width: 25%;
	padding: 2px 2px;
}
.anl-table ul li.ftr input {
	margin-right:16px;
	font-weight:bold;
	border:1px solid #aaa;
}

.anl-table ul li.bdy ol li.last {
	list-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
}
.anl-table ul li.ftr {
	text-align: right;
	font-weight: bold;
}
.anl-table ul li.ftr span.total {
	line-height: 20px;
	height: 20px;
	margin-right:10px;
}

.add-item, .remove-item {
	cursor: pointer;
	font-size: 90%;
	font-weight: bold;
}
.add-item img, .remove-item img {
	vertical-align: middle;
}

