
<%@ page import="com.innovated.iris.domain.lookup.RoadsideParameter" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <title><g:message code="roadsideParameter.show" default="Show RoadsideParameter" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLinkTo(dir: '')}"><g:message code="home" default="Home" /></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="roadsideParameter.list" default="RoadsideParameter List" /></g:link></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="roadsideParameter.new" default="New RoadsideParameter" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="roadsideParameter.show" default="Show RoadsideParameter" /></h1>
            <g:if test="${flash.message}">
            <div class="message"><g:message code="${flash.message}" args="${flash.args}" default="${flash.defaultMessage}" /></div>
            </g:if>
            <g:form>
                <g:hiddenField name="id" value="${roadsideParameterInstance?.id}" />
                <div class="dialog">
                    <table>
                        <tbody>
                        
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="roadsideParameter.id" default="Id" />:</td>
                                
                                <td valign="top" class="value">${fieldValue(bean: roadsideParameterInstance, field: "id")}</td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="roadsideParameter.dateFrom" default="Date From" />:</td>
                                
                                <td valign="top" class="value"><g:formatDate date="${roadsideParameterInstance?.dateFrom}" /></td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="roadsideParameter.customerCode" default="Customer Code" />:</td>
                                
                                <td valign="top" class="value">${fieldValue(bean: roadsideParameterInstance, field: "customerCode")}</td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="roadsideParameter.state" default="State" />:</td>
                                
                                <td valign="top" class="value">${fieldValue(bean: roadsideParameterInstance, field: "state")}</td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="roadsideParameter.defaultSupplier" default="Default Supplier" />:</td>
                                
                                <td valign="top" class="value"><g:link controller="supplier" action="show" id="${roadsideParameterInstance?.defaultSupplier?.id}">${roadsideParameterInstance?.defaultSupplier?.encodeAsHTML()}</g:link></td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="roadsideParameter.joiningFee" default="Joining Fee" />:</td>
                                
                                <td valign="top" class="value">${fieldValue(bean: roadsideParameterInstance, field: "joiningFee")}</td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="roadsideParameter.annualFee" default="Annual Fee" />:</td>
                                
                                <td valign="top" class="value">${fieldValue(bean: roadsideParameterInstance, field: "annualFee")}</td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="roadsideParameter.lastUpdated" default="Last Updated" />:</td>
                                
                                <td valign="top" class="value"><g:formatDate date="${roadsideParameterInstance?.lastUpdated}" /></td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="roadsideParameter.dateCreated" default="Date Created" />:</td>
                                
                                <td valign="top" class="value"><g:formatDate date="${roadsideParameterInstance?.dateCreated}" /></td>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <span class="button"><g:actionSubmit class="edit" action="edit" value="${message(code: 'edit', 'default': 'Edit')}" /></span>
                    <span class="button"><g:actionSubmit class="delete" action="delete" value="${message(code: 'delete', 'default': 'Delete')}" onclick="return confirm('${message(code: 'delete.confirm', 'default': 'Are you sure?')}');" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>
