<h3 class="topPad">Customer Assets</h3>
									<p>View/update a customer's assets here.</p>
									<div class="formSet">
										<div class="clearfix">
											<p>asset list here...</p>
										</div>
									</div>