
<%@ page import="com.innovated.iris.domain.enums.CustomerStatus" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="layout" content="main" />
        <title>CustomerStatus List</title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${resource(dir:'')}">Home</a></span>
            <span class="menuButton"><g:link class="create" action="create">New CustomerStatus</g:link></span>
        </div>
        <div class="body">
            <h1>CustomerStatus List</h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <div class="list">
                <table>
                    <thead>
                        <tr>
                        
                   	        <g:sortableColumn property="id" title="Id" />
                        
                   	        <g:sortableColumn property="name" title="Name" />
                        
                   	        <g:sortableColumn property="statusCode" title="Status Code" />
                        
                   	        <g:sortableColumn property="visible" title="Visible" />
                        
                   	        <g:sortableColumn property="enabled" title="Enabled" />
                        
                   	        <g:sortableColumn property="dateCreated" title="Date Created" />
                        
                        </tr>
                    </thead>
                    <tbody>
                    <g:each in="${customerStatusInstanceList}" status="i" var="customerStatusInstance">
                        <tr class="${(i % 2) == 0 ? 'odd' : 'even'}">
                        
                            <td><g:link action="show" id="${customerStatusInstance.id}">${fieldValue(bean:customerStatusInstance, field:'id')}</g:link></td>
                        
                            <td>${fieldValue(bean:customerStatusInstance, field:'name')}</td>
                        
                            <td>${fieldValue(bean:customerStatusInstance, field:'statusCode')}</td>
                        
                            <td>${fieldValue(bean:customerStatusInstance, field:'visible')}</td>
                        
                            <td>${fieldValue(bean:customerStatusInstance, field:'enabled')}</td>
                        
                            <td>${fieldValue(bean:customerStatusInstance, field:'dateCreated')}</td>
                        
                        </tr>
                    </g:each>
                    </tbody>
                </table>
            </div>
            <div class="paginateButtons">
                <g:paginate total="${customerStatusInstanceTotal}" />
            </div>
        </div>
    </body>
</html>
