
<%@ page import="com.innovated.iris.domain.enums.VehicleModel" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <title><g:message code="vehicleModel.show" default="Show VehicleModel" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLinkTo(dir: '')}"><g:message code="home" default="Home" /></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="vehicleModel.list" default="VehicleModel List" /></g:link></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="vehicleModel.new" default="New VehicleModel" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="vehicleModel.show" default="Show VehicleModel" /></h1>
            <g:if test="${flash.message}">
            <div class="message"><g:message code="${flash.message}" args="${flash.args}" default="${flash.defaultMessage}" /></div>
            </g:if>
            <g:form>
                <g:hiddenField name="id" value="${vehicleModelInstance?.id}" />
                <div class="dialog">
                    <table>
                        <tbody>
                        
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="vehicleModel.id" default="Id" />:</td>
                                
                                <td valign="top" class="value">${fieldValue(bean: vehicleModelInstance, field: "id")}</td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="vehicleModel.name" default="Name" />:</td>
                                
                                <td valign="top" class="value">${fieldValue(bean: vehicleModelInstance, field: "name")}</td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="vehicleModel.variants" default="Variants" />:</td>
                                
                                <td  valign="top" style="text-align: left;" class="value">
                                    <ul>
                                    <g:each in="${vehicleModelInstance?.variants}" var="makeModelInstance">
                                        <li><g:link controller="makeModel" action="show" id="${makeModelInstance.id}">${makeModelInstance.encodeAsHTML()}</g:link></li>
                                    </g:each>
                                    </ul>
                                </td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="vehicleModel.firstReleaseDate" default="First Release Date" />:</td>
                                
                                <td valign="top" class="value"><g:formatDate date="${vehicleModelInstance?.firstReleaseDate}" /></td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="vehicleModel.vehicleClass" default="Vehicle Class" />:</td>
                                
                                <td valign="top" class="value">${fieldValue(bean: vehicleModelInstance, field: "vehicleClass")}</td>
                                
                            </tr>
                            
                            <tr class="prop">
                                <td valign="top" class="name"><g:message code="vehicleModel.make" default="Make" />:</td>
                                
                                <td valign="top" class="value"><g:link controller="vehicleManufacturer" action="show" id="${vehicleModelInstance?.make?.id}">${vehicleModelInstance?.make?.encodeAsHTML()}</g:link></td>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <span class="button"><g:actionSubmit class="edit" action="edit" value="${message(code: 'edit', 'default': 'Edit')}" /></span>
                    <span class="button"><g:actionSubmit class="delete" action="delete" value="${message(code: 'delete', 'default': 'Delete')}" onclick="return confirm('${message(code: 'delete.confirm', 'default': 'Are you sure?')}');" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>
